/*Импорты*/
@import "normalizer.css";
@import "fonts.css";

/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input,label,textarea,a{display: block;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{display:block; text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;margin:0;padding:0;}
/*--------------------*/
/*Variables*/

/*Variables end*/

.app{
  &__inner{
    padding: 10px 0;
    border: 1px #000 solid;
  }
}


.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.recipes{
  .recipes-list{
    width: max-content;
    margin: 0 auto;

    &__title{
      font-size: 20px;
     font-family: robotoRegular, sans-serif;
     text-align: center;
     margin-bottom: 10px;
    }
   
  }
 
  // &__add-form{
   
  // }
  .recipes-add-form{
    &__inputs-wrapper{
      margin: 0 auto 7px;
      width: max-content;
    }
    &__input{
      border-radius: 3px;
      border: 1px #ccc solid;
      padding: 10px;
    }
    &__btn{
      padding: 10px;
      border: 1px #ccc solid;
      border-radius: 3px;
      display: block;
      background: #ccc;
      text-align: center;
      width: max-content;
      margin: 0 auto;
      cursor: pointer;
      height: max-content;
    }
  }
}
.recipe{
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 7px;
  border: 1px #000 solid;
}