/*Импорты*/
@import "normalizer.css";
@import "fonts.css";

/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside,select{display: block;}

html,body{
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input,label,textarea,a{display: block;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{color:#000;display:block; text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;margin:0;padding:0;}

/*Scrollbar*/

body::-webkit-scrollbar {
  width: 12px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #101010;        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: #D70147;    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
  border: 3px solid #101010;  /* отступ вокруг бегунка */
}

/*Variables*/

/*Variables end*/




.app{
  background: #101010;
  color: #fff;
  &__name{
    color: #D70147;
    font-family: "AC Line", sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  &__inner{
    padding: 10px 0;
    font-family: robotoRegular, sans-serif;
  }
}


.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.recipes{
  .recipes-list{
    width: 100%;
    margin: 0 auto 10px auto;
    max-height: 230px;
    overflow-x: hidden;
    background: #282828;
    padding: 10px;
    border-radius: 7px;
    &::-webkit-scrollbar {/* ширина всей полосы прокрутки */
      width: 12px;               
    }

    &::-webkit-scrollbar-thumb { 
      background-color: #101010;  /* цвет бегунка */
      border-radius: 20px;          /* округлось бегунка */
      border: 3px solid #282828;  /* отступ вокруг бегунка */
    }
    
    &::-webkit-scrollbar-track { /* цвет зоны отслеживания */
      background: #282828;
      border-radius: 0 7px 7px 0;        
    }

  }

  

  .recipes-add-form{
    width: max-content;
    position: absolute;
    bottom: -13px;
    right: 40px;
    padding: 10px;
    background: #101010;
    border-radius: 7px;
    &__inputs-wrapper{
      margin: 0 auto 7px;
      width: max-content;
      display: none;//TODO пото включи
    }
    &__input{
      border-radius: 3px;
      padding: 10px;
      width: 100%;
      max-width: 300px;
      max-height: 200px;
      margin-bottom: 10px;
    }

    &__categories{
      border-radius: 3px;
      padding: 10px;
      margin: 0 auto;
    }

    &__input-content{
      max-width: 300px;
    }

    &__input-label{
      margin-bottom: 10px;
      text-align: center;
    }
  }
}
.recipe{
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-family: robotoRegular, sans-serif;
  background: #101010;
  margin: 0 10px 10px 0;
  max-width: 300px;
  height: max-content;
  min-height: 140px;
  overflow: hidden;
  &__name{
    margin-bottom: 10px;
    font-weight: bold;
  }
  &__content{
    margin-bottom: 10px;
  }
  &__meal-type{
    line-height: 19px;
  }
}

.month{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .day{
    font-family: robotoRegular, sans-serif;
    border-radius: 7px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 15px;
    margin: 0 10px 10px 0;
    max-width: 210px;
    background: #282828;
    width: 100%;
    &__date{
      margin-bottom: 10px;
      font-weight: bold;
      text-align: center;
    }
  }    
}
.meal{
  margin-bottom: 10px;
}
.section{
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  &__title{
    color: #c7c7c7;
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'AC Line', sans-serif;
  }
}

.meal__label{
  margin-bottom: 5px;
}
.button{
  padding: 10px;
  border-radius: 3px;
  display: block;
  background: #D70147;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 10px auto;
  cursor: pointer;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}

.recipemeal-type{
  margin-bottom: 10px;
  &__name{
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 20px;
  }
}

.recipe-meal-type{

  &__name{
    font-family: "AC Line", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__recipes{
    display: flex;
  }
}

.plus {
  display: block;
  width: 50px;
  height: 50px;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), #D70147;
  background-position: center;
  background-size: 50% 2px, 2px 50%;
  background-repeat: no-repeat;
  margin: 0;
}